 <configuration>
  <system.webServer>
 
    <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->
    <modules>
    </modules>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="X-Powered-By" value="NodeJS" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="node app" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <action type="Rewrite" url="app.js" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>