doctype 5
html
  head
    title State of the .d.ts
    link(rel='stylesheet', href='/definitelyTyped/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/definitelyTyped/stylesheets/style.css')
  body
    div.content: block content